<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{event.title}}</span>
            <span class="md-subhead">{{event.cost ? event.cost + ' ₽упий' : 'Бесплатно'}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        {{event.description}}
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="showEvent(event)">Смотреть</md-button>
        <md-button ng-click="editEvent(event)">Редактировать</md-button>
    </md-card-actions>
</md-card>