<div layout="row" layout-wrap layout-align="center" style="padding-bottom: 32px;" >

    <div ng-if="itemsType == 'services'"
            flex="90"  flex-gt-sm="45"
            style="width:400px;"
            ng-repeat="service in items"
            ng-include="'/views/itemsList/serviceListItem.html'"></div>

    <div ng-if="itemsType == 'events'"
         flex="90"  flex-gt-sm="45"
         style="width:400px;"
         ng-repeat="event in items"
         ng-include="'/views/itemsList/eventListItem.html'"></div>

</div>