<div class="l-board__body-box" data-id="interest">

    <h1 class="l-board__header">
        {{parameters.interest.name}}
    </h1>

    <div class="l-board__body-box-list" >
        <ul>
            <li ng-repeat="collection in parameters.interest.lists">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id}}"
                       ng-model="collection.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id}}">{{collection.name}}</label>
            </li>
        </ul>
    </div>

</div>
