<div class="infobox-panel"
     layout="column" layout-align="start stretch">
<!--<div class="l-board__body-box" data-id="interest">-->

    <!--<h1 class="l-board__header">
        {{parameters.interest.name}}
    </h1>-->

    <h1 class="infobox-panel-header" layout="row" layout-align="start center" >
        {{parameters.interest.name}}
        <div flex></div>
        <md-button class="md-raised md-primary"
                   ng-click="selectAll('interest')"
        >Выделить всё</md-button>
        <md-button class="md-raised md-primary"
                   ng-disabled="!checkSelected('interest')"
                   ng-click="clearSelection('interest')"
        >Сбросить</md-button>
    </h1>

    <legend-dir legend="parameters.interest.lists" columns-count="1"
                selectable="true" highlightable="false"
                highlighted-color="'#bfebff'" selected-color="'#777777'"
                ></legend-dir>

    <!--<div class="l-board__body-box-list" >
        <ul>
            <li ng-repeat="collection in parameters.interest.lists">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id}}"
                       ng-model="collection.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id}}">{{collection.name}}</label>
            </li>
        </ul>
    </div>-->

</div>
