<div layout="row" flex class="admin-profiles">
    <header-dir></header-dir> 
    
    <admin-menu-dir></admin-menu-dir>
    
	  <md-content class="md-padding" layout="column" flex preloader-dir="showPreloader">

		<div layout="row" layout-align="start center">
          <h2 class="md-display-1">Профили пользователей</h2>
        </div>
	
		<table class="profiles-table" ng-show="profiles">
			<thead>
				<tr>
					<th>Id</th>
					<th>Login</th>
					<th>Админ</th>
					<th>Демо</th>
					<th>Спонсор</th>
					<th>Правообладатель</th>
					<th>Тип компании</th>
					<th>Юр. статус</th>
					<th>Корр. счет</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="profile in profiles">
					<td>{{profile.user_id}}</td>
					<td ng-click="openProfile(profile)">{{profile.login}}</td>
					<!--<td>{{profile.admin_role}}</td>-->
					<td><md-switch class="switch" ng-model="profile.admin_role" ng-change="profile.dirty = true;" aria-label="Выбрано" ></md-switch></td>
					<!--<td>{{profile.demo_role}}</td>-->
					<td><md-switch class="switch" ng-model="profile.demo_role" ng-change="profile.dirty = true;" aria-label="Выбрано" ></md-switch></td>
					<!--<td>{{profile.sponsor_role}}</td>-->
					<td><md-switch class="switch" ng-model="profile.sponsor_role" ng-change="profile.dirty = true;" aria-label="Выбрано" ></md-switch></td>
					<!--<td>{{profile.rightholder_role}}</td>-->
					<td><md-switch class="switch" ng-model="profile.rightholder_role" ng-change="profile.dirty = true;" aria-label="Выбрано" ></md-switch></td>
					<!--<td>{{profile.company_type}}</td>-->
					<td>{{profile.company_type == 0 ? 'Спонсор' : profile.company_type == 1 ? 'Правообладатель' : profile.company_type == 2 ? 'Агенство' : 'None'}}</td>
					<!--<td>{{profile.legal_status}}</td>-->
					<td>{{profile.legal_status == 0 ? 'Физ. лицо' : profile.legal_status == 1 ? 'Юр. лицо' : 'None' }}</td>
					<td>{{profile.corr_account || 'None'}}</td>
					<!--<td>КНОПКА</td>-->
					<td><md-button class="md-raised md-primary" ng-disabled="!profile.dirty" ng-click="saveProfile(profile)">Сохранить</md-button></td>
				</tr>
			</tbody>
		</table>
		
	</md-content>

</div>
