<div class="infobox-panel account-panel"
	 layout="column" layout-align="start stretch">

	<h1 class="infobox-panel-header" layout="row" layout-align="start center" >
		Смена пароля
	</h1>

	<div layout="row" layout-align="start center" style="height: 40px; font-size: 18px;">
		<div style="margin-right: 10px;">Введите новый пароль:</div>
		<input style="outline:none;" type="password" placeholder="пароль" ng-model="newPassword" ng-model-options="{ getterSetter: true }"/>
		<div flex></div>
		<md-button class="md-raised md-primary"
				   ng-show="newPassword()"
				   ng-click="savePassword()"
		>Сохранить</md-button>
	</div>



</div>
