@main-theme-color: #d0efec;

.infobox {

  .infobox-content {
      margin-top: 52px;
      margin-left: 220px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
  }
  
  
  .infobox-header-1 {
    font-size: 16px;
    color: #4ac0b6;
    letter-spacing: 0.025em;
    padding: 5px 0;
    line-height: 22px;
  }

  .infobox-header-2 {
    font-size: 16px;
    // color: @main-theme-color;
    letter-spacing: 0.025em;
  }
  
  .infobox-header-3 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.025em;
    color: #324766;
  }
  
  /*Список с вариантами выбора (например возраст, пол)*/
  .infobox-selection {
    // margin: 25px 12px 0 12px;
      
    .infobox-selection-item {
      // padding: 5px;
      // padding-right: 5px;
      // padding-bottom: 5px;
      padding: 15px 5px 5px 0;
    }
  }

  // .menu {
  //   position: fixed;
  //   top: 78px;
  //   left: 0;
  //   width: 315px;

  //   ul{
  //     list-style-type: none;
  //     margin: 0;
  //     padding: 0;
  //   }


  //   .menu-section{
  //     padding: 50px 0;
  //     border-bottom: 1px solid #dcddda;

  //     &:first-child{
  //       padding-top: 25px;
  //     }
  //     &:last-child{
  //       border-bottom: none;
  //     }
  //   }

  //   .menu-section-name{
  //     font-weight: bold;
  //     text-transform: uppercase;
  //     margin-bottom: 5px;
  //     padding-left: 25px;

  //     img{
  //       vertical-align: middle;
  //       margin-right: 18px;
  //     }
  //   }

  // }

  // .left-menu {

  //   .left-menu-item {
  //     line-height: 35px;
  //     padding-left: 75px;
  //     cursor: pointer;
  //     outline: none;

  //     &.active,
  //     &:hover {
  //       background: #d7ece8;
  //     }

  //     &.disabled {
  //       background: none !important;
  //       cursor: default !important;
  //       color: gray !important;
  //     }
  //   }
  // }

  // .audience-count-text {
  //   color: #68b729;
  // }



  // .infobox-body{
  //   margin-left: 345px;
  //   padding-top: 25px;
  //   padding-bottom: 0;
  //   padding-right: 30px;
  // }

  // .infobox-express{

  //   margin-left: 345px;
  //   padding-top: 25px;
  //   //padding-bottom: 0;
  //   padding-right: 30px;

  //   padding-bottom: 120px;
  //   &:after{
  //     content: '';
  //     display: block;
  //     clear: both;
  //   }

  //   display: none;
  //   flex-flow: row wrap;
  // }

}
