<div>
    <header-dir></header-dir>
<div class="l-board infobox">


    <div class="l-board__chek-button">
        <!--<span class="l-board__chek-button-text">Найдено болельщиков - 1 901 297</span>-->
        <span class="audience-count-text no-select" >{{audienceCount == null ? '' : (audienceCount != 0 ? 'Болельщики: ' + audienceCount.toLocaleString() : 'Болельщики: недостаточно данных')}}</span>
        <span class="check-button no-outline no-select"
              ng-class="{'disabled': !audienceCount}"
              ng-show="checkButtonText"
              ng-click="audienceCount ? checkButtonClick() : null"
        >{{checkButtonText}}</span>
    </div>

    <div class="l-board__menu" ng-include="'/views/widgets/infobox/infoboxMenu.html'">
    </div>


    <form>
        <div ng-if="activePage" style="padding-bottom: 94px;" class="l-board__body" ng-include="'/views/widgets/infobox/panels/'+activePage.id+'.html'">
        </div>
    </form>

    <div class="l-board__express"></div>
</div>
</div>