<ul>
    <li class="menu-section">
        <div class="menu-section-name">
            <img src="/static/img/icons/audience.png">
            Болельщик
        </div>
        <ul class="left-menu">

            <li data-id="demography"
                ng-repeat="item in audienceMenu"
                class="left-menu-item"
                ng-class="{'active': item == activeMenuItem}"
                ng-click="setActiveMenuItem(item)">
                {{item.text}}
            </li>
        </ul>
    </li>

    <li class="menu-section">
        <div class="menu-section-name">
            <img src="/static/img/icons/sportinfo.png">
            Виды спорта
        </div> <!--ng-click="setActiveMenuItem(item)"-->
        <ul class="left-menu">
            <li
                ng-repeat="item in bottomMenu"
                class="left-menu-item"
                ng-class="{'active': item == activeMenuItem, 'disabled':item.enabled && !item.enabled()}"
                ng-click="!item.enabled || item.enabled() ? setActiveMenuItem(item) : null"
                >
                {{item.text}}
            </li>
        </ul>
    </li>

</ul>