<div>
    <header-dir></header-dir>

    <div class="infobox">

        <div class="chek-button">

            <span class="audience-count-text no-select" >{{audienceCount == null ? '' : (audienceCount != 0 ? 'Болельщики: ' + audienceCount.toLocaleString() : 'Болельщики: недостаточно данных')}}</span>
            <span class="button no-outline no-select"
                  ng-class="{'disabled': !audienceCount}"
                  ng-show="checkButtonText"
                  ng-click="audienceCount ? checkButtonClick() : null"
            >{{checkButtonText}}</span>
        </div>

        <div class="menu" ng-include="'/views/widgets/infobox/infoboxMenu.html'"></div>

        <div>
            <div ng-if="activePage" style="padding-bottom: 94px;" class="infobox-body" ng-include="'/views/widgets/infobox/panels/'+activePage.id+'.html'"></div>
        </div>

        <!--<div class=" infobox-express"></div>-->
    </div>
</div>