<div class="clubInfoTable"
	layout="column" layotu-align="start stretch">

	<!--<div class="header" layout="row" layout-align="start center" flex>
		<span class="text">Информация о клубе</span>
		<div flex></div>
		<span class="showHideButton" ng-click="showed = !showed;">{{showed ? 'Свернуть' : 'Развернуть'}}</span>
	</div>-->

	<h2 class="infobox-panel-header2" style="margin-top: 30px;"
		layout="row" layout-align="start center">
		Информация о клубе
	</h2>


	<div layout="column" flex ng-show="showed" style="border-color: inherit;">
		<div layout="row" flex style="border-color: inherit;">

			<!--Основная информация-->
			<div layout="column" class="card" flex ng-show="showed">
				<div class="header" layout="row" layout-align="center center" >Основная информация</div>

				<div layout="row" layout-align="space-around stretch" class="row">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Название</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.name}}</div>
				</div>

				<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Домашняя площадка</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >
						<!--<span ng-repeat="playground in clubInfo.playgrounds">{{playground}}</span>-->
						{{clubInfo.playground}}
					</div>
				</div>

				<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Вместимость площадки</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.playgroundCapacity.toLocaleString()}}</div>
				</div>

				<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Игр в сезоне</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.gamesCount.toLocaleString()}}</div>
				</div>
			</div>

			<div style="width: 5px;"></div>
			<!--Информация о болельщиках-->
			<div layout="column" class="card" flex ng-show="showed">
				<div class="header" layout="row" layout-align="center center" >Информация о болельщиках</div>

				<div layout="row" layout-align="space-around stretch" class="row">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Reach (000) offline</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.reachOffline.toLocaleString()}}</div>
				</div>

				<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Reach (000) ТВ</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.reachOnline.toLocaleString()}}</div>
				</div>

				<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
					<div class="item title" layout="row" layout-align="center center" flex="50" >OTS offline</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.OTSOffline.toLocaleString()}}</div>
				</div>

				<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
					<div class="item title" layout="row" layout-align="center center" flex="50" >OTS ТВ</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.OTSOnline.toLocaleString()}}</div>
				</div>
			</div>
		</div>

		<div layout="row" flex style="border-color: inherit;">

			<!--Зрители на трибунах-->
			<div layout="column" class="card" flex ng-show="showed">
				<div class="header" layout="row" layout-align="center center" >Зрители на трибунах</div>

				<div layout="row" layout-align="space-around stretch" >
					<div class="item title" layout="row" layout-align="center center" flex="50" >Средняя посещаемость в сезоне 2015/16</div>
					<div layout="column" layout-align="start stretch" flex="50" >
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Дома</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineAVGHome.toLocaleString()}}%</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >В гостях</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineAVGGuest.toLocaleString()}}%</div>
						</div>
					</div>
				</div>

				<div layout="row" layout-align="space-around stretch">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Всего зрителей на трибунах в сезоне 2015/16</div>
					<div layout="column" layout-align="start stretch" flex="50" >
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Дома</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineTotalHome.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >В гостях</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineTotalGuest.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Всего</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineTotalAll.toLocaleString()}}</div>
						</div>
					</div>
				</div>

				<div layout="row" layout-align="space-around stretch">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Уникальных зрителей на трибунах в сезоне 2015/16</div>
					<div layout="column" layout-align="start stretch" flex="50" >
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Дома</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineUniqueHome.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >В гостях</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineUniqueGuest.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Всего</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.offlineUniqueAll.toLocaleString()}}</div>
						</div>
					</div>
				</div>
			</div>

			<div style="width: 5px;"></div>
			<!--Телезрители-->
			<div layout="column" class="card" flex ng-show="showed">
				<div class="header" layout="row" layout-align="center center" >Телезрители</div>

				<div layout="row" layout-align="space-around stretch"  class="row-2">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Телевизионных рейтингов в сезоне 2015/16</div>
					<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.onlineRatings.toLocaleString()}}</div>
				</div>

				<div layout="row" layout-align="space-around stretch">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Телевизионная аудитория в сезоне 2015/16</div>
					<div layout="column" layout-align="start stretch" flex="50" >
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Федеральная</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.onlineTotalFederal.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Местная</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.onlineTotalLocal.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Всего</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.onlineTotalAll.toLocaleString()}}</div>
						</div>
					</div>
				</div>

				<div layout="row" layout-align="space-around stretch">
					<div class="item title" layout="row" layout-align="center center" flex="50" >Уникальная телевизионная аудитория в сезоне 2015/16</div>
					<div layout="column" layout-align="start stretch" flex="50" >
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Федеральная</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.onlineUniqueFederal.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Местная</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.onlineUniqueLocal.toLocaleString()}}</div>
						</div>
						<div layout="row" layout-align="space-around stretch" class="row" style="border-color: inherit;">
							<div class="item title" layout="row" layout-align="center center" flex="50" >Всего</div>
							<div class="item info" layout="row" layout-align="center center" flex="50" >{{clubInfo.onlineUniqueAll.toLocaleString()}}</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>