<div class="home-page">
    <!--layout="column" layout-align="start center"-->
    <div class="home-background">
        
        <header-new-dir theme="home-page"></header-new-dir>

        
        <!--<div layout="row" layout-align="start center" class="button-enter">-->
        <!--    <a ng-href="{{enterPath}}">-->
        <!--        <div class="button-enter-content" layout="row" layout-align="start center">-->
        <!--            <div class="button-enter-icon"></div>-->
        <!--            <div class="button-enter-text">Войти</div>-->
        <!--        </div>-->
        <!--    </a>-->
        <!--</div>-->
        
        <div class="logo"></div>
        
        <div class="description">
            Платформа для оценки<br>эффективности<br>спортивного спонсорства
        </div>
        
        <div layout="row" layout-align="center center" 
            class="button-register button-register-top"
            ng-click="scrollToRegistration();">
            Зарегистрироваться
        </div>
        
        <div class="video">
            <!--<iframe  src="https://www.youtube.com/embed/f8rsvpAs2qw" frameborder="0" allowfullscreen></iframe>-->
        </div>
        
        <div layout="column" layout-align="start start" class="what-is-it-block">
            <div class="what-is-it">
                Что такое <b>Sport Sensus</b> ?
            </div>
            
            <div layout="column" layout-align="start stretch" class="it-is-block">
                <div class="it-is">
                    Онлайн платформа для планирования, контроля,<br>анализа и эффективности спортивного<br>спонсорства
                </div>
                <div class="it-is">
                    Актуальные данные и уникальный комплексный<br>алгоритм
                </div>
                <div class="it-is">
                    Новый уровень профессионального диалога<br>правообладателей и спонсора в эру современных<br>технологий
                </div>
            </div>
        </div>
        
        <div layout="row" layout-align="center center" class="actions">
            <div layout="row" layout-align="start center"
                class="action" ng-repeat="item in actionItems">
                <div layout="row" layout-align="center center" class="action-number">
                    {{$index+1}}
                </div>
                <div class="action-text" ng-bind-html="item | trustAsHtmlFltr"></div>
            </div>
        </div>
        
        <div class="for-who">
            Для кого<br>эта платформа
        </div>
        
        <div class="for-who-block" ng-repeat="block in forWho"
            ng-class="'for-who-block-'+($index+1)"
            layout="column" layout-align="start stretch">
            <div class="for-who-header">
                {{block.title}}
            </div>
            <div layout="column" layout-align="start stretch" class="for-who-list">
                <div class="for-who-list-item" ng-repeat="item in block.items"
                    ng-bind-html="item | trustAsHtmlFltr"></div>
            </div>
            <div flex></div>
            <div class="for-who-button" layout="row" layout-align="center center"
                 ng-click="scrollToRegistration(block.type);">
                Зарегистрироваться
            </div>
        </div>
        
        <div class="register-block" layout="row" layout-align="center center">
        
            <div class="register-block-content" preloader-dir>
        
                <div layout="row" layout-align="center center" class="register-title" id="registration">
                    Регистрация
                </div>
                
                <div layout="row" layout-align="center start" class="register" >
                    <div layout="column" layout-align="start stretch" class="register-column">
                        <div class="register-item-title">Тип компании</div>
                        <div class="register-input">
                            <select name="type" ng-model="regData.company_type" ng-options="obj.value as obj.name for obj in companyTypes">
                            <option value="">Тип компании</option>
                            <option value=""></option>
                        </select>
                        </div>
                        <div class="register-item-title">Имя</div>
                        <div class="register-input">
                            <input name="fname" ng-model="regData.first_name"/>
                        </div>
                        <div class="register-item-title">Фамилия</div>
                        <div class="register-input">
                            <input name="lname" ng-model="regData.last_name"/>
                        </div>
                    </div>
                    <div layout="column" layout-align="start stretch" class="register-column">
                        <div class="register-item-title">Компания</div>
                        <div class="register-input">
                            <input name="cname" ng-model="regData.company_name"/>
                        </div>
                        <div class="register-item-title">Адрес эл. почты</div>
                        <div class="register-input">
                            <input name="email" ng-model="regData.login"/>
                        </div>
                        <div class="register-item-title">Телефон</div>
                        <div class="register-input">
                            <input name="phone" ng-model="regData.phone"/>
                        </div>
                    </div>
                </div>
                
                <div layout="row" layout-align="center center" 
                    class="button-register button-register-bottom"
                    ng-click="register()">
                    Зарегистрироваться
                </div>
                
                <!--<div layout="row" layout-align="center center"-->
                <!--    style="-->
                <!--        font-size: 21px;-->
                <!--        line-height: 26px;-->
                <!--        margin-top: 20px;-->
                <!--        text-align: center;-->
                <!--    ">-->
                <!--    <div>-->
                <!--        По техническим причинам регистрация на сайте временно приостановлена. <br>-->
                <!--        Пожалуйста, отправьте Ваш запрос на <a href="mailto:sales@sportsensus.ru">sales@sportsensus.ru</a>,<br> -->
                <!--        и мы свяжемся с Вами в ближайшее время.<br>-->
                <!--        Приносим Вам свои извинения за неудобства.-->
                <!--    </div>-->
                <!--</div>-->
            
            </div>    
        </div>
        
    </div>
    
    <!--LiveInternet counter--><script type="text/javascript">
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='0' height='0'><\/a>")
</script><!--/LiveInternet-->

</div>