<div>
<header-dir></header-dir>
<div class="l-home">
    <div class="l-home__promo">
        <img src="static/img/l-home/home-logo.svg"/>

        <div class="l-home__promo-content">
            Потому что болеем<br/>
            за эффективность
            <div class="l-home__promo-button-box">
                <a href="" class="l-home__promo-button" ng-click="scrollToRegistration();">зарегистрироваться</a>
                <!--<span class="l-home__promo-button" ng-click="scrollToRegistration();">зарегистрироваться</span>-->
            </div>
        </div>
    </div>


    <h1 class="l-home__header" id="about">
        Sport Sensus – ваш инструмент для планирования<br/>
        и оценки эффективности спортивного спонсорства<br/>
        и спортивных активов в России
    </h1>


    <div class="l-home__pc-box">
        <img src="static/img/l-home/monitor.png" class="l-home__pc-box-monitor"/>
        <img src="static/img/l-home/mac.png" class="l-home__pc-box-mac"/>
        <div class="l-home__pc-box-text">
            Спонсорство спорта вызывает уважение,<br/>
            обдуманное спонсорство приносит еще и выгоду.<br/>
            Sport sensus экономит ваши время, усилия<br/>
            и денежные средства на определение наиболее<br/>
            эффективного формата спонсорства
        </div>
    </div>


    <div class="l-home__info">
        <!--<img src="static/img/l-home/logo2.png" class="l-home__info-image"/>-->
        <img src="static/img/l-home/home-logo.svg" class="l-home__info-image"/>

        <div>
            <div class="l-home__info-box">
                <div class="l-home__info-box-image">
                    <img src="static/img/l-home/ico1.png"/>
                </div>
                <h3>Для спонсоров</h3>

                <p>
                    Мы даем возможность верифицировать
                    полученные предложения
                </p>
                <p>
                    Мы можем оценить и смоделировать стоимость
                    контакта по глубине
                </p>
                <p>
                    Мы создаем специальный коэффициент лояльности болельщиков к разным категориям спонсоров события
                </p>
                <p>
                    Мы можем оценить и спрогнозировать медиа показатели предложенного правообладателем инвентаря
                </p>
                <p>
                    Мы можем оценить и смоделировать какие усилия нужно применить для достижения специфических
                    задач в рамках активации прав
                </p>
                <p>
                    Мы собираем и делимся лучшими кейсами
                    из мира спонсорства
                </p>
            </div>

            <div class="l-home__info-box">
                <div class="l-home__info-box-image">
                    <img src="static/img/l-home/ico2.png"/>
                </div>
                <h3>Для правообладателей</h3>

                <p>
                    Мы поможем составить грамотное предложение, адаптированное под конкретную категорию спонсора
                </p>
                <p>
                    Мы поможем точно узнать аудиторию без затрат
                    на заказные исследования
                </p>
                <p>
                    Мы поделимся лучшими кейсами по активации
                    и удовлетворению спонсорских ожиданий
                </p>
                <p>
                    Мы выведем спортивных менеджеров
                    на новый профессиональный уровень
                </p>
            </div>
        </div>
    </div>


    <!--<articles-carousel-dir></articles-carousel-dir>-->
    
    <div class="l-home__registration" id="registration">
        <h3>Регистрация</h3>
        <form>
            <div class="l-home__registration-box">
                <input name="fname" placeholder="Имя" ng-model="regData.first_name"/>
                <input name="cname" placeholder="Компания" ng-model="regData.company_name"/>
                <input name="phone" placeholder="Телефон" ng-model="regData.phone"/>
                <label>
                    Физическое лицо
                    <input name="fiz" type="checkbox" ng-model="companyTypeFiz" ng-model-options="{ getterSetter: true }"/>
                </label>
            </div>

            <div class="l-home__registration-box">
                <input name="lname" placeholder="Фамилия" ng-model="regData.last_name"/>
                <input name="email" placeholder="Адрес эл. почты" ng-model="regData.login"/>
                <!--<select name="type" ng-model="regData.company_type">
                    <option ng-repeat="option in companyTypes" ng-selected="option.selected" ng-value="option.value">{{option.name}}</option>
                </select>-->
                <select name="type" ng-model="regData.company_type" ng-options="obj.value as obj.name for obj in companyTypes">
                    <option value="">Тип компании</option>
                </select>
                <label>
                    Юридическое лицо
                    <input name="yr" type="checkbox" ng-model="companyTypeYur" ng-model-options="{ getterSetter: true }"/>
                </label>
            </div>
            <div class="l-home__registration-button-box">
                <!--<button class="l-home__registration-button" ng-click="register()">Получить демо</button>-->
                <button class="l-home__registration-button" ng-click="register()">получить презентацию</button> 
            </div>
        </form>
    </div>

    <div class="l-home__footer">
        <a href="" ng-click="scrollToRegistration();">зарегистрироваться</a>
        <!--<span class="l-home__promo-button" ng-click="scrollToRegistration();">Демо версия</span>-->
    </div>

</div>

</div>