<div class="infobox-panel"
     layout="column" layout-align="start stretch">

    <h1 class="infobox-panel-header" layout="row" layout-align="start center" >
        {{parameters.sport.name}}
        <div flex></div>
        <md-button class="md-raised md-primary"
                   ng-disabled="!checkSelected('sport')"
                   ng-click="clearSelection('sport')"
        >Сбросить</md-button>
    </h1>

    <div layout="row" layout-align="start start" layout-wrap>
        <div  ng-repeat="sport in parameters.sport.lists"
            layout="column" layout-align="start stretch"
            style="margin: 5px;"
            flex="30">

            <div class="infobox-panel-header2 infobox-panel-header2-checkbox no-outline no-select"
                 layout="row" layout-align="start center"
                 style="margin-left: 5px;"
                 ng-click="sport.interested = !sport.interested;">
                <div flex="none" class="checkbox-color"
                     ng-style="{'background-color': sport.interested ? '#777777' : 'none'}"></div>
                <div class="legend-item-text">{{sport.name}}</div>
            </div>



            <!-- Лиги -->
            <div layout="column" layout-align="start start" class="chart-legend"
                 ng-if="sport.leagues && sport.leagues.length">
                <div layout="column" layout-align="start start"
                     ng-repeat="league in sport.leagues">

                    <div layout="row" layout-align="start center">
                        <div class="legend-item selectable no-outline no-select"
                             layout="row" layout-align="start center"
                             >
                            <!--<div flex="none" class="legend-item-color-radio"
                                 ng-style="{'background-color': league == selected.league && !selected.club ? '#777777' : 'none'}"
                            ></div>-->
                            <div class="legend-item-text">{{league.name}}</div>
                        </div>
                        <!--<div class="legend-item-hide-text" ng-click="league.analyticsExpanded = !league.analyticsExpanded;">{{league.analyticsExpanded ? 'Скрыть': 'Показать'}}</div>-->
                    </div>

                    <!-- Клубы в лигах -->
                    <!--<div ng-if="league.clubs"
                         class="sublegend"
                         ng-show="league.analyticsExpanded">
                        <div layout="column" layout-align="start start" class="chart-legend">
                            <div layout="column" layout-align="start start"
                                 ng-repeat="club in league.clubs">
                                <div class="legend-item selectable no-outline no-select"
                                     layout="row" layout-align="start center"

                                     ng-click="selectClub(club, league, sport);">
                                    <div flex="none" class="legend-item-color-radio"
                                         ng-style="{'background-color': (club == selected.club || (league == selected.league && !selected.club)) ? '#777777' : 'none'}"
                                    ></div>
                                    <div class="legend-item-text">{{club.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <legend-dir legend="league.clubs" columns-count="1"
                                style="margin-left: 15px;"
                                selectable="true" highlightable="false"
                                highlighted-color="'#bfebff'" selected-color="'#777777'"
                                disabled="!sport.interested"></legend-dir>

                </div>
            </div>


            <!-- Клубы при отсутствии лиг -->
            <div layout="column" layout-align="start start" class="chart-legend"
                 ng-if="!(sport.leagues && sport.leagues.length)">


                <!--<div layout="column" layout-align="start start"
                     ng-repeat="club in sport.clubs">
                    <div class="legend-item selectable no-outline no-select"
                         layout="row" layout-align="start center"
                         class="selectable"
                         ng-click="selectClub(club, null, sport);">
                        <div flex="none" class="legend-item-color-radio"
                             ng-style="{'background-color': club == selected.club ? '#777777' : 'none'}"
                        ></div>
                        <div class="legend-item-text">{{club.name}}</div>
                    </div>
                </div>-->
                <legend-dir legend="sport.clubs" columns-count="1"
                            style="margin-left: 15px;"
                            selectable="true" highlightable="false"
                            highlighted-color="'#bfebff'" selected-color="'#777777'"
                            disabled="!sport.interested"></legend-dir>

            </div>



            <!--<legend-dir legend="sport.clubs" columns-count="1"
                        selectable="true" highlightable="false"
                        highlighted-color="'#bfebff'" selected-color="'#777777'"
                        disabled="!sport.interested"></legend-dir>-->

        </div>
    </div>

</div>
