<div class="infobox-panel"
layout="column" layout-align="start stretch">

    <h1 class="infobox-panel-header" layout="row" layout-align="start center" >
        {{parameters.demography.name}}
        <div flex></div>
        <md-button class="md-raised md-primary"
                   ng-disabled="!checkSelected('demography')"
                    ng-click="clearSelection('demography')"
        >Сбросить</md-button>
    </h1>

    <div layout="row" layout-align="start start" layout-wrap>
        <div  ng-repeat="collection in parameters.demography.lists"
        layout="column" layout-align="start start" flex="30"
              style="margin: 5px;">
            <div class="infobox-panel-header3" >
                {{collection.name}}
            </div>

            <legend-dir legend="collection.lists" columns-count="1"
                        selectable="true" highlightable="false"
                        highlighted-color="'#bfebff'" selected-color="'#777777'"
                        ></legend-dir>
        </div>
    </div>
    
</div>
