
<div class="l-board__body-box" data-id="image">

    <div class="l-board__body-box-list" ng-repeat="collection in parameters.image">
        <h3>
            <img ng-show="collection.img" ng-src="{{collection.img}}">
            {{collection.text}}
        </h3>
        <ul>
            <li ng-repeat="item in collection.items">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id+'_'+item.id}}"
                       ng-model="item.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id+'_'+item.id}}">{{item.text}}</label>
            </li>
        </ul>
    </div>
    <!--

    <div class="l-board__body-box-list">
        <h3>
            <img src="/static/img/icons/image.png">
            Восприятие видов спорта
        </h3>
        <input type="checkbox" name="image" value="1" id="image_1">
        <label for="image_1">Посмотреть восприятие</label>

    </div>
    -->
</div>
