<div class="infobox-panel" ng-controller="involveGraphCrtl"
     layout="column" layout-align="start start">

    <h1 class="infobox-panel-header" layout="row" layout-align="start center">
        Причастность к видам спорта
    </h1>

    <div layout="column" layout-align="start stretch" >
        <div layout="row" layout-align="start start" layout-wrap>
            <legend-dir legend="involveLegend" ></legend-dir>
            <legend-dir legend="sportLegend" ></legend-dir>

        </div>
        <div layout="row" layout-align="start start" layout-wrap ng-if="showCharts">
            <!--<radar-dir chart="chart"></radar-dir>-->
            <div ng-repeat="chart in charts"
                 layout="column" layout-align="start stretch"
                 style="margin: 10px; height: 200px; width:300px;">
                <div class="bar-chart-caption" layout="row" layout-align="center center">{{chart.sport.name}}</div>
                <stacked-bar-dir chart="chart.chartData" style="height: 100%;" ></stacked-bar-dir>
            </div>
        </div>
        <div ng-if="combineChart" style="margin: 10px; height: 400px;">
            <stacked-bar-dir chart="combineChart" style="height: 100%;" ></stacked-bar-dir>
        </div>
    </div>
</div>