
<div class="l-board__body-box" data-id="involve">

    <div class="l-board__body-box-list" ng-repeat="collection in parameters.involve">
        <h3>
            <img ng-show="collection.img" ng-src="{{collection.img}}">
            {{collection.text}}
        </h3>
        <ul>
            <li ng-repeat="item in collection.items">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id+'_'+item.id}}"
                       ng-model="item.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id+'_'+item.id}}">{{item.text}}</label>
            </li>
        </ul>
    </div>

    <!--
    <div class="l-board__body-box-list">
        <h3>
            <img src="/static/img/icons/involve.png">
            Причастность к видам спорта
        </h3>
        <ul>
            <li>
                <input type="checkbox" name="involve[]" value="1" id="involve_1">
                <label for="involve_1">Занимаюсь спортом сам(а)</label>
            </li>


            <li>
                <input type="checkbox" name="involve[]" value="2" id="involve_2">
                <label for="involve_2">Занимаются спортом члены семьи, друзья</label>
            </li>


            <li>
                <input type="checkbox" name="involve[]" value="3" id="involve_3">
                <label for="involve_3">Смотрю спортивные трансляции по телевизору</label>
            </li>


            <li>
                <input type="checkbox" name="involve[]" value="4" id="involve_4">
                <label for="involve_4">Читаю спортивные новости в интернете или в газетах/журналах</label>
            </li>


            <li>
                <input type="checkbox" name="involve[]" value="5" id="involve_5">
                <label for="involve_5">Хожу на матчи, посещаю соревнования</label>
            </li>


            <li>
                <input type="checkbox" name="involve[]" value="6" id="involve_6">
                <label for="involve_6">Не слежу, но к этому спорту отношусь позитивно</label>
            </li>
        </ul>
    </div>
    -->
</div>
