<div class="infobox-panel"
     layout="column" layout-align="start stretch">

    <h1 class="infobox-panel-header" layout="row" layout-align="start center" >
        {{parameters.sport.name}}
    </h1>

    <div layout="row" layout-align="start start" layout-wrap>
        <div  ng-repeat="sport in parameters.sport.lists"
            layout="column" layout-align="start stretch"
            style="margin: 5px;"
            flex="30">

            <div class="infobox-panel-header2 infobox-panel-header2-checkbox no-outline no-select"
                 layout="row" layout-align="start center"
                 style="margin-left: 5px;"
                 ng-click="sport.interested = !sport.interested;">
                <div flex="none" class="checkbox-color"
                     ng-style="{'background-color': sport.interested ? '#777777' : 'none'}"></div>
                <div class="legend-item-text">{{sport.name}}</div>
            </div>

            <legend-dir legend="sport.clubs" columns-count="1"
                        selectable="true" highlightable="false"
                        highlighted-color="'#bfebff'" selected-color="'#777777'"
                        disabled="!sport.interested"></legend-dir>

        </div>
    </div>

</div>
