<div layout="column" layout-align="start center"
     >
    <md-card md-theme="default" style="width:600px;" ng-repeat="hotel in hotels">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{hotel.title}}</span>
                <!--<span class="md-subhead">{{hotel.address}}</span>-->
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"
                style="background-image: url('{{hotel.image}}');
                background-size: contain;"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="showHotel(hotel)">Смотреть</md-button>
            <md-button ng-click="editHotel(hotel)">Редактировать</md-button>
        </md-card-actions>
    </md-card>
</div>