<div class="infobox-panel" ng-controller="baseInfoboxCtrl"
    layout="column" layout-align="start stretch"
    preloader-dir>

    <h1 class="infobox-panel-header" layout="row" layout-align="start center" >
        {{parameters.demography.name}}
        <div flex></div>
        <md-button class="md-raised md-primary"
                   ng-disabled="!checkSelected('demography')"
                    ng-click="clearSelection('demography')"
        >Сбросить</md-button>
    </h1>

    <div layout="row" layout-align="start start" layout-wrap
        class="infobox-selection">
        <div  ng-repeat="collection in parameters.demography.lists"
            layout="column" layout-align="start start" 
            class="infobox-selection-item"
            flex-sm="100"
            flex-md="50"
            flex-lg="30" 
            flex-gt-lg="25" >
            <div class="infobox-panel-header3" >
                {{collection.name}}
            </div>

            <legend-dir legend="collection.lists" columns-count="1"
                        selectable="true" highlightable="false"
                        highlighted-color="'#bfebff'" selected-color="'#777777'"
                        ></legend-dir>
        </div>
    </div>
    
</div>
