.footballField{

  .footballFieldImage{
	background-image: url("../static/static/img/ad/footballField.png");

	background-size: contain;
	background-repeat: no-repeat;

	height: 600px;
  }



}

.hockeyBox32{

  .hockeyBox32Image {
	background-image: url("../static/static/img/ad/hockeyBox32.png");

	background-size: contain;
	background-repeat: no-repeat;

	margin-right: 30px;

	height: 612px;
	width: 424px;
  }

  .hockeyForm {
	background-image: url("../static/static/img/ad/hockeyForm.png");

	background-size: contain;
	background-repeat: no-repeat;

	margin-right: 30px;

	height: 303px;
	width: 424px;
  }
}

.playground-checkboxes-table {

  margin: 0 20px;

  .playground-table-row {
	height: 35px;
	width: 90px;
	padding: 0 10px;
  }

}

.hockeyBox40{

  .hockeyBox40Image {
	background-image: url("../static/static/img/ad/hockeyBox32.png");

	background-size: contain;
	background-repeat: no-repeat;

	margin-right: 30px;

	height: 612px;
	width: 424px;
  }
}

.playground-checkboxes-table {

  margin: 0 20px;

  .playground-table-row {
	height: 35px;
	width: 90px;
	padding: 0 10px;
  }

}





