<div layout="column" layout-align="start stretch" class="footballField"
	 ng-controller="footballFieldCtrl">

	<club-info-table-dir club-info="clubInfo" ng-show="clubInfo" style="margin-top: 10px; margin-bottom: 40px;"></club-info-table-dir>
	<league-info-table-dir league-info="leagueInfo" ng-show="leagueInfo" style="margin-top: 10px; margin-bottom: 40px;"></league-info-table-dir>


	<h1 class="infobox-panel-header" layout="row" layout-align="start center">
		Формирование и оценка спонсорского пакета
	</h1>

	<!-------------- Площадка -------------->
	<h2 class="infobox-panel-header2" style="margin-top: 30px;"
		layout="row" layout-align="start center">
		Рекламные конструкции во время состязаний
	</h2>

	<div layout="row" layout-align="start start" style="margin-top: 20px;">
		<div class="footballFieldImage" ></div>

		<!-- Флажки выбора позиций  -->
		<div layout="row" layout-align="start start">
			<div layout="column" layout-align="start stretch"
				 class="playground-checkboxes-table" ng-repeat="column in playgroundPlacesA">
				<div layout="row" layout-align="start center"
					 class="playground-table-row" style="background-color: #376092; color: white">
					<div flex="50" >Позиция</div>
				</div>
				<div ng-repeat="place in column"
					 layout="row" layout-align="space-between center"
					 class="playground-table-row"
					 ng-style="{'background-color': $even ? '#FFFFFF' : '#DCE6F2'}">
					<div flex="33">
						{{ place.key }}
					</div>
					<md-switch ng-model="playgroundData.placesSelection[place.key].selected" aria-label="Выбрано" flex="67"></md-switch>
				</div>
			</div>
		</div>
	</div>


	<div layout="column" layout-align="start stretch" style="max-width: 800px; margin-top: 30px;">

		<analytics-results-dir results="results" price="totalCost"></analytics-results-dir>

	</div>



</div>