<div layout="column" layout-align="start stretch" class="hockeyBox32"
	ng-controller="hockeyBox32Ctrl">

	<h2 class="infobox-panel-header2" style="margin-top: 30px;"
		layout="row" layout-align="start center">
		Рекламные конструкции во время состязаний
	</h2>



	<!-- Площадка -->
	<div layout="row" layout-align="start start" style="margin-top: 20px;">
		<div class="hockeyBox32Image" ></div>

		<!-- Флажки выбора позиций  -->
		<div layout="row" layout-align="start start">
			<div layout="column" layout-align="start stretch"
				 class="playground-checkboxes-table" ng-repeat="column in playgroundPlacesA">
				<div layout="row" layout-align="start center"
					 class="playground-table-row" style="background-color: #376092; color: white">
					<div flex="50" >Позиция</div>
				</div>
				<div ng-repeat="place in column"
					 layout="row" layout-align="space-between center"
					 class="playground-table-row"
					ng-style="{'background-color': $even ? '#FFFFFF' : '#DCE6F2'}">
					<div flex="33">
						{{ place.name }}
					</div>
					<md-switch ng-model="place.selected" aria-label="Выбрано" flex="67"></md-switch>
				</div>
			</div>
		</div>
	</div>




	<h2 class="infobox-panel-header2" style="margin-top: 30px;"
		layout="row" layout-align="start center">
		Оформление участников состязаний
	</h2>

	<!-- Форма -->
	<div layout="row" layout-align="start start" style="margin-top: 20px;">
		<div class="hockeyForm" ></div>

		<!-- Флажки выбора позиций  -->
		<div layout="column" layout-align="start stretch"
			 class="playground-checkboxes-table">

			<div layout="row" layout-align="start center"
				 class="playground-table-row" style="background-color: #376092; color: white">
				<div flex="50" >Позиция</div>
			</div>
			<div ng-repeat="place in uniformPlaces"
				 layout="row" layout-align="space-between center"
				 class="playground-table-row"
				 ng-style="{'background-color': $even ? '#FFFFFF' : '#DCE6F2'}">
				<div flex="33">
					{{ place.name }}
				</div>
				<md-switch ng-model="place.selected" aria-label="Выбрано" flex="67"></md-switch>
			</div>

		</div>
	</div>


	<div layout="column" layout-align="start stretch" style="max-width: 800px; margin-top: 30px;">

		<analytics-results-dir results="results" price="totalCost"></analytics-results-dir>

		<club-info-table-dir club-info="clubInfo" ng-show="clubInfo"  style="margin-top: 20px;"></club-info-table-dir>
		<league-info-table-dir league-info="leagueInfo" ng-show="leagueInfo" style="margin-top: 20px;"></league-info-table-dir>

		<!--<hockey-box-info-table-dir style="margin-top: 20px;"></hockey-box-info-table-dir>-->

		<!--<playground-params-table-dir params="playgroundParams" style="margin-top: 15px;"></playground-params-table-dir>-->

	</div>

</div>