<md-content class="md-padding"
    layout="row" >
    <div flex></div>

    <div flex="80" layout="column" layout-align="start stretch"
         >
        <h1 class="md-display-2">{{hotel.title}}</h1>
        <!--<p>{{hotel.address}}</p>-->
        <p>{{hotel.description}}</p>

        <md-button ng-click="goBack()">Назад</md-button>

        <!--controls="controls"-->
        <div style="width:100%; height:400px;">
            <map-dir ng-if="hotel" hotel="hotel" map-id="'map_hotel_'+hotelId"></map-dir>
        </div>

        <h2>Услуги</h2>

        <items-list-dir ng-if="hotel" hotel="hotel" items-type="'services'"></items-list-dir>


        <!--<div layout="row" layout-wrap layout-align="center" style="padding-bottom: 32px;" >
            <md-card flex="90"  flex-gt-sm="45"
                 style="width:400px;"
                     ng-repeat="service in hotel.services">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{service.title}}</span>
                        <span class="md-subhead">{{service.cost ? service.cost + ' ₽упий' : 'Бесплатно'}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{service.description}}
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showService(service)">Смотреть</md-button>
                    <md-button ng-click="editService(service)">Редактировать</md-button>
                </md-card-actions>
            </md-card>
        </div>
        -->

        <h2>События</h2>

        <items-list-dir ng-if="hotel" hotel="hotel" items-type="'events'"></items-list-dir>
        <!--<div layout="row" layout-wrap layout-align="center" style="padding-bottom: 32px;">
            <md-card flex="90"  flex-gt-sm="45"
                     md-theme="default" style="width:400px;"
                     ng-repeat="event in hotel.events">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{event.title}}</span>
                        <span class="md-subhead">{{event.cost ? event.cost + ' ₽упий' : 'Бесплатно'}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{event.description}}
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showEvent(event)">Смотреть</md-button>
                    <md-button ng-click="editEvent(event)">Редактировать</md-button>
                </md-card-actions>
            </md-card>
        </div>-->

    </div>

    <div flex></div>

</md-content>