<div
     layout="row" layout-align="start start" layout-wrap
    class="chart-legend">

    <div layout="column" layout-align="start start"
        ng-repeat="items in legends">

        <div layout="column" layout-align="start start"
             ng-repeat="item in items">
            <div class="legend-item no-outline no-select"
                  layout="row" layout-align="start center"
                  ng-class="{'selectable': selectable, 'disabled': !!disabled}"
                  ng-click="selectable && !disabled ? itemClick(item) : null"
                  ng-mouseenter="highlightable ? highlightItem(item) : null"
                  ng-mouseleave="highlightable ? unhighlightItem(item) : null">
                <!--ng-style="{'background-color': item.selected || !selectable ? (item.color || item.chartColor) : 'none'}"-->
                <div flex="none" class="legend-item-color"
                ng-style="getPointStyles(item)"></div>
                <div class="legend-item-text">{{item.name}}</div>
            </div>
            <div ng-if="item.lists && item.selected"
            class="sublegend">
                <legend-dir legend="item.lists"
                            selectable="selectable"
                            highlightable="highlightable"
                            selected-color="selectedColor"
                            highlighted-color="highlightedColor"
                            disabled="disabled"
                            columns-count="1"></legend-dir>
            </div>
        </div>
    </div>


</div>


