.chart-map {

  position: relative;
  width: 800px;

  svg {

  }
  path {
    fill: #EBF1F3;
    stroke: #D4D8DA;

    //&:hover
    //&.selected {
    //  fill: #A4DEF4 !important;
    //}
    //&.highlighted {
    //  fill: #bfebff ;
    //}
  }

  .marker-wrapper {
    position: absolute;
    pointer-events: none;
  }
}