<div layout="column" layout-align="start stretch"
    class="download-panel">
    <div class="download-button no-outline no-select"
         layout="column" layout-align="start stretch"
         ng-click="save()">
        <div class="download-save"></div>
        <div layout="row" layout-align="center start">Сохранить</div>
    </div>

    <div class="download-button no-outline no-select"
         layout="column" layout-align="start stretch"
         ng-click="print()">
        <div class="download-print"></div>
        <div layout="row" layout-align="center start">Распечатать</div>
    </div>

    <div class="download-button no-outline no-select"
         layout="column" layout-align="start stretch"
         ng-click="send()">
        <div class="download-send"></div>
        <div layout="row" layout-align="center start">Отправить на почту</div>
    </div>
</div>