<div layout="column" layout-gt-md="row" layout-align="start stretch"
    class="download-panel">

    <md-button class="md-raised download-md-button"
               ng-click="save()"
               aria-label="Сохранить">
        <md-icon class="download-md-icon download-save"></md-icon>
        Сохранить
    </md-button>

    <md-button class="md-raised download-md-button"
               ng-click="print()"
               aria-label="Распечатать">
        <md-icon class="download-md-icon download-print"></md-icon>
        Распечатать
    </md-button>

    <md-button class="md-raised download-md-button"
               ng-click="send()"
               aria-label="Отправить на почту">
        <md-icon class="download-md-icon download-send"></md-icon>
        Отправить на почту
    </md-button>

   <!--<div class="download-button no-outline no-select"
         layout="row" layout-align="start center"
         flex="30"
         ng-click="save()">
        <div class="download-icon download-save"></div>
        <div layout="row" layout-align="center start" class="download-text">Сохранить</div>
    </div>

    <div class="download-button no-outline no-select"
         layout="row" layout-align="start center"
         flex="30"
         ng-click="print()">
        <div class="download-icon download-print"></div>
        <div layout="row" layout-align="center start" class="download-text">Распечатать</div>
    </div>

    <div class="download-button no-outline no-select"
         layout="row" layout-align="start center"
         flex="30"
         ng-click="send()">
        <div class="download-icon download-send"></div>
        <div layout="row" layout-align="center start" class="download-text">Отправить на почту</div>
    </div>-->
</div>