<div class="infobox-panel infobox-rooting-panel"
     layout="column" layout-align="start stretch"
     preloader-dir>

    <infobox-tabs-dir></infobox-tabs-dir>
    
    <div layout="column" layout-align="start stretch"
        class="rooting-content">

       <infobox-selectable-list-dir 
            items="parameters.rooting.lists" 
            selectable="true" 
            highlightable="false">
        </infobox-selectable-list-dir>
    </div>
    
    
    <!--<h1 class="infobox-panel-header" layout="row" layout-align="start center" >-->
    <!--    {{parameters.rooting.name}}-->
    <!--    <div flex></div>-->
    <!--    <md-button class="md-raised md-primary"-->
    <!--               ng-click="selectAll('rooting')"-->
    <!--    >Выделить всё</md-button>-->
    <!--    <md-button class="md-raised md-primary"-->
    <!--               ng-disabled="!checkSelected('rooting')"-->
    <!--               ng-click="clearSelection('rooting')"-->
    <!--    >Сбросить</md-button>-->
    <!-- </h1>-->

    <!-- <legend-dir legend="parameters.rooting.lists" columns-count="1"-->
    <!--            selectable="true" highlightable="false"-->
    <!--            highlighted-color="'#bfebff'" selected-color="'#777777'"-->
    <!-- ></legend-dir>-->

</div>
