<div class="left-menu" layout="column" layout-align="start stretch">
    
    <div class="left-menu-content" layout="column" layout-align="start stretch">
       
        <div class="radar-selector" layout="row" layout-align="space-around center" flex="none">
            <div ng-repeat="radar in radars" layout="column" layout-align="start center">
                <div class="radar-button" layout="row" layout-align="center center"
                     ng-class="{'selected': radar.selected}"
                     ng-click="selectRadar(radar.id)">
                    {{radar.year}}
                </div>
                <div class="radar-line"></div>
            </div>
        </div>
    
        <div class="buttons" layout="column" layout-align="start stretch" flex="none">
            <div class="button" layout="row" layout-align="start center"
                ng-repeat="button in buttons"
                ng-class="{'selected': button.selected}"
                ng-click="onButtonClick(button)">
                <div class="button-icon" ng-class="button.iconClass"></div>
                {{button.name}}
            </div>
        </div>
        
        
        <div class="audience-menu" flex="none"
            layout="row" layout-align="space-around center">
            <div class="menu-delimeter" flex></div>
            <!--<div class="menu-button menu-button-load" ng-click="loadAudience();"></div>-->
            <!--<div class="menu-delimeter menu-delimeter-buttons"></div>-->
            <!--<div class="menu-button menu-button-save" ng-click="saveAudience();"></div>-->
            <!--<div class="menu-delimeter menu-delimeter-buttons"></div>-->
            <div class="menu-button menu-button-clear" ng-click="clearAudience();"></div>
            <div class="menu-delimeter" flex></div>
        </div>
        
        <div class="audience" layout="column" layout-align="start stretch" flex>
            <div class="audience-block" ng-repeat="block in audienceBlocks">
                <div class="audience-items">
                    <div class="audience-item" ng-repeat="item in block.items"
                        ng-click="deselectItem(item)">
                        {{item.name}}
                        <div class="audience-remove"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--<div flex></div>-->
        
        <div style="height: 20px;" flex="none"></div>
        
        <div class="audience-message" ng-class="{'audience-message-error': audienceError}" 
            ng-show="audienceMessage" layout="column" layout-align="center stretch" flex="none">
            <div class="message" ng-bind-html="audienceMessage | trustAsHtmlFltr"></div>
            <div class="count" ng-if="audienceCount">
                {{audienceCount.toLocaleString()}}
            </div>
        </div>
        
        <div class="result-button" layout="row" layout-align="center center" 
            flex="none" ng-class="{'disabled': audienceError}"
            ng-click="showResult()">
            РЕЗУЛЬТАТ
        </div>
    
    </div>
   
</div>