
<div class="l-board__body-box" data-id="involve">

    <h1 class="l-board__header">
        {{parameters.involve.name}}
    </h1>

    <div class="l-board__body-box-list" >
        <ul>
            <li ng-repeat="collection in parameters.involve.lists">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id}}"
                       ng-model="collection.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id}}">{{collection.name}}</label>
            </li>
        </ul>
    </div>

    <!--<div class="l-board__body-box-list" ng-repeat="collection in parameters.involve">
        <h3>
            <img ng-show="collection.img" ng-src="{{collection.img}}">
            {{collection.text}}
        </h3>
        <ul>
            <li ng-repeat="item in collection.items">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id+'_'+item.id}}"
                       ng-model="item.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id+'_'+item.id}}">{{item.text}}</label>
            </li>
        </ul>
    </div>-->

</div>
