<div class="infobox-panel"
     layout="column" layout-align="start stretch">

<!--<div class="l-board__body-box" data-id="involve">-->

    <!--<h1 class="l-board__header">
        {{parameters.involve.name}}
    </h1>-->
    <h1 class="infobox-panel-header" layout="row" layout-align="start center" >
        {{parameters.involve.name}}
    </h1>

    <legend-dir legend="parameters.involve.lists" columns-count="1"
                selectable="true" highlightable="false"
                highlighted-color="'#bfebff'" selected-color="'#777777'"
    ></legend-dir>
    <!--<div class="l-board__body-box-list" >
        <ul>
            <li ng-repeat="collection in parameters.involve.lists">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id}}"
                       ng-model="collection.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id}}">{{collection.name}}</label>
            </li>
        </ul>
    </div>
-->


</div>
