<div class="infobox-panel"
     layout="column" layout-align="start stretch"
     preloader-dir>

    <infobox-tabs-dir></infobox-tabs-dir>
    
    <h1 class="infobox-panel-header" layout="row" layout-align="start center" >
        {{parameters.image.name}}
        <div flex></div>

        <md-button class="md-raised md-primary"
                   ng-show="checkSelected('image')"
                   ng-click="clearSelection('image')"
        >Сбросить</md-button>
    </h1>

    <div class="infobox-panel-header3">Все уровни восприятия будут отображены на одном сводном графике</div>

    <legend-dir legend="parameters.image.lists" columns-count="1"
                selectable="false" highlightable="false"
                highlighted-color="'#bfebff'" selected-color="'#777777'"
    ></legend-dir>

   <!-- <div class="l-board__body-box-list" >
        <ul>
            <li ng-repeat="collection in parameters.image.lists">
                <input type="checkbox" name="{{collection.id}}" id="{{collection.id}}"
                       ng-model="collection.selected"
                       ng-click="selectCheckbox(collection, item)">
                <label for="{{collection.id}}">{{collection.name}}</label>
            </li>
        </ul>
    </div>-->
</div>
